/* Group button styles */
/* Ensure the container has no padding */
.container {
    margin-top: 0 !important;
}
.btn-group {
    margin-bottom: 0; /* Remove bottom margin */
    padding-top: 0; /* Remove top padding */
  }
  
  .btn-group .btn {
    margin-right: 5px; /* Space between buttons */
  }
  
  .btn-group .btn:last-child {
    margin-right: 0; /* No space after the last button */
  }
  
  /* Image container styles */
  .image-container {
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap */
    gap: 10px; /* Space between images */
  }
  
  .image-container img {
    padding: 5px; /* Padding around images */
    border: 1px solid #ddd; /* Border around images */
    border-radius: 2px; /* Rounded corners */
    background-color: #f8f9fa; /* Background color */
  }

  .list-group {
    padding-top: 10px;
    width: 900px;
    margin: 0 auto; /* This will center the element */
}