/* Header1.css */
.header {
  background-color: #d2e0ed; /* Light background for the header */
  padding: 0px 20px;
  border-bottom: 0px solid #dee2e6;
  height: 60px;
  display: flex;
  align-items: center; /* Center the content vertically */
  padding-bottom: 0px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff; /* Primary color */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  text-align: center; /* Ensure text is centered */
}

.navbar-brand svg {
  margin-right: 10px; /* Space between icon and text */
}
