/* html, body {
    height: 100%;
    margin: 0;
    background-color: #333; /* 暗い背景色 */
    color: #000; /* テキストを黒に設定 */
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    background-color: #444; /* container の背景色を少し明るい暗色に設定 */
    color: #000; /* container 内のテキストも黒に設定 */
}

.footer {
    background-color: #222; /* footer の背景色をさらに暗い色に設定 */
    padding: 1rem;
    text-align: center;
    border-top: 1px solid #555; /* ボーダーの色も調整 */
    color: #000; /* footer 内のテキストも黒に設定 */
}

.your-scroll-container {
    overflow: hidden;
}

.navbar-collapse {
    display: flex;
    justify-content: right; /* 子要素を右寄せ */
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: #000; /* navbar-brand のテキストも黒に設定 */
}

.navbar-brand svg {
    margin-right: 8px; /* アイコンとテキストの間にスペースを追加 */
    color: #000; /* アイコンの色も黒に設定 */
}

.gallery {
    display: flex;
    overflow-x: auto; /* Allows horizontal scrolling */
    white-space: nowrap; /* Prevents wrapping */
}
.gallery-item {
    position: relative; /* Needed for positioning the delete button */
    display: inline-block;
    margin-right: 10px; /* Space between images */
}
.gallery-item img {
    width: 150px; /* Fixed width for each image */
    height: auto;
    cursor: pointer;
}
.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 22px; /* Adjust size as needed */
    height: 22px; /* Adjust size as needed */
    text-align: center;
    line-height: 22px; /* Slightly less than height for vertical adjustment */
    cursor: pointer;
    font-size: 14px; /* Adjust size as needed */
    display: flex; /* Centering using flexbox */
    align-items: center; /* Centering vertically */
    justify-content: center; /* Centering horizontally */
    padding-top: 0px; /* Adjust to move the "×" slightly up */
    padding-right: 7px;
}

/* comment css */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.comment {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

.comment p {
    margin: 0;
    font-size: 16px;
}

.comment small {
    color: #888;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.alert {
    margin-top: 20px;
}

.comment-content {
    outline: none; /* Ensure there's no outline hiding the cursor */
} */