<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Home - To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to the To-Do App</h1>
    <p class="lead">Manage your tasks efficiently with our simple and intuitive interface.</p>
    <hr class="my-4">
    <form class="form-inline my-2 my-lg-0" action="{{ url_for('search') }}" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Search tasks..." name="query">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <a class="btn btn-primary btn-lg ml-auto" href="{{ url_for('add') }}" role="button">Add a New Task</a>
    </form>
    
</div>
    

<div class="list-group">
    <div class="list-group-item">
        <a href="{{ url_for('send_email') }}" class="btn btn-secondary btn-sm">send_email</a>
    </div>
    {% for todo in todos %}
    <div class="list-group-item">
        <p>Content : {{  todo.content }} </p>
        <p>Detail : {{ todo.description }} </p>
        <p>Due date : {{ todo.due_date }} </p>
        <p>
            {% if todo.image_filename %}
            <img src="{{ url_for('get_image', id=todo.id) }}" alt="Todo Image" width="100">
            {% endif %}
            {% if todo.images %}
                {% for image in todo.images %}
                    <img src="{{ url_for('get_image', id=image.id) }}" alt="Todo Image" width="100">
                {% endfor %}
            {% endif %}

            <form action="{{ url_for('upload_images', id=todo.id) }}" method="POST" enctype="multipart/form-data">
                <input type="file" name="files" multiple>
                <button type="submit">Upload Images</button>
            </form>
        </p>   
        <a href="{{ url_for('delete', id=todo.id) }}" class="btn btn-danger btn-sm">Delete</a>
        <a href="{{ url_for('detail', id=todo.id) }}" class="btn btn-secondary btn-sm">Detail</a>
    </div>
    {% endfor %}
    
</div>
{% endblock %}
