/* src/components/Header.css */

/* Header全体のスタイル */
.header {
  position: sticky;
  top: 0; /* ヘッダーをページの上部に固定 */
  background-color: #081b2f;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #0a1d2f;
  z-index: 1000; /* ヘッダーを他の要素の上に表示するために高い値に設定 */
}

  
  .header .navbar {
    padding: 0.5rem 1rem; /* 内側の余白 */
  }
  
  .header .navbar-brand {
    display: flex;
    align-items: center; /* アイコンとテキストを縦に中央揃え */
    font-size: 1.5rem; /* フォントサイズ */
    font-weight: bold; /* フォントウェイト */
    color: #343a40; /* テキストカラー */
    text-decoration: none; /* 下線削除 */
  }
  
  .header .navbar-brand svg {
    margin-right: 0.5rem; /* アイコンとテキストの間の余白 */
  }
  
  .header .navbar-nav {
    margin-left: auto; /* ナビゲーションを右側に寄せる */
  }
  
  .header .navbar-nav a {
    margin: 0 0.5rem; /* リンクの左右の余白 */
    color: #007bff; /* リンクのカラー */
    text-decoration: none; /* 下線削除 */
    font-weight: normal; /* フォントウェイト */
  }
  
  .header .navbar-nav a:hover {
    color: #0056b3; /* ホバー時のリンクのカラー */
  }
  